<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "header.html" . }}
  <body>
    {{ partial "body-top" . }}
    <main>

      <section class="container">
        <section class="content">
          <h1>{{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}</h1>

          <div class="sub-header">
            {{ .Date.Format (.Site.Params.dateform | default "January 2, 2006") }} · {{ i18n "minuteRead" .ReadingTime }}
          </div>

          <div class="taxonomy-container">
            <div class="categories-container">
              <h3 class="categories-title">{{ i18n "categories" }}</h3>
              <ul class="categories">
                {{ range .Param "categories" }}
                {{ $name := . }}
                {{ with $.Site.GetPage (printf "/%s/%s" "categories" ($name | urlize)) }}
                <li><a href="{{ .Permalink }}">{{ $name }}</a></li>
                {{ end }}
                {{ end }}
              </ul>
            </div>

            <div class="tags-container">
              <h3 class="tags-title">{{ i18n "tags" }}</h3>
              <ul class="tags">
                {{ range .Param "tags" }}
                {{ $name := . }}
                {{ with $.Site.GetPage (printf "/%s/%s" "tags" ($name | urlize)) }}
                <li><a href="{{ .Permalink }}">{{ $name }}</a></li>
                {{ end }}
                {{ end }}
              </ul>
            </div>
          </div>

          <article class="entry-content">
            {{ .Content }}
          </article>

          <div class="pagination">
            {{ if .PrevInSection }}
              <a href="{{ .PrevInSection.Permalink }}">&laquo; {{ .PrevInSection.Title }}</a>
            {{ end }}
            {{ if .NextInSection }}
              <a href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }} &raquo;</a>
            {{ end }}
          </div>
        </section>
        <br>
        {{ partial "disqus" . }}
      </section>

    </main>
    {{ partial "footer.html" . }}
    {{ partial "body-bottom" . }}
  </body>
</html>
