<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "header.html" . }}
  <body>
    {{ partial "body-top" . }}
    <main>

      <section class="container">
        <section class="content">
          <h1>{{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}</h1>

            <div class="sub-header">
              {{ .Date.Format (.Site.Params.dateform | default "January 2, 2006") }} · {{ i18n "minuteRead" .ReadingTime }}
            </div>

          <article class="entry-content">
            {{ .Content }}
          </article>

          <div class="pagination">
            {{ with .PrevInSection }}
              {{ if (ne .Title "About") }}
                <a href="{{ .Permalink }}">&laquo; {{ .Title }}</a>
              {{ end }}
            {{ end }}
            
            {{ with .NextInSection }}
              {{ if (ne .Title "About") }}
                <a href="{{ .Permalink }}">{{ .Title }} &raquo;</a>
              {{ end }}
            {{ end }}
          </div>
        </section>
        <br>
        {{ partial "disqus" . }}
      </section>

    </main>
    {{ partial "footer.html" . }}
    {{ partial "body-bottom" . }}
  </body>
</html>
